main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameboardwrapper {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;
  background-color: antiquewhite;
}
.tile {
  background-color: white;
  cursor: pointer;
}
